.container{
      position: absolute;
      width: fit-content;
      width: 100%;
    height: 100%;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.form{
    border: black;
    border-style: double;
     border-width: 1px ;
      display: inline-flex;
    flex-direction: column;
}
.txtField{
    margin: 17px;
}
.submit{
    margin: 20px !important;
     height: 52px;
      bottom: 9px;
}

.skillTableContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

  .submitSkills{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profileContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: aliceblue;
}
  